<template>
    <button type="submit" :class="classes" @click="toggle">
        Favorites
        <span class="budget budget-light">
            <i v-text="count"></i>
        </span>
    </button>
</template>

<script>
    export default {
        props:['reply'],
        data() {
            return {
                count: this.reply.favoritesCount,
                active:this.reply.isFavorited,
            }
        },

        computed:{
            classes(){
                return ['btn float-right',this.active ? 'btn-info' : 'btn-default']
            },

            endpoint(){
                return '/replies/'+this.reply.id+'/favorites';
            }
        },

        methods:{
            toggle(){
                this.active ? this.destroy() : this.create();
            },

            destroy(){
                axios.delete(this.endpoint);

                this.active=false;
                this.count--;
            },

            create(){
                axios.post(this.endpoint);

                this.active=true;
                this.count++;
            }
        }
    }
</script>

<style scoped>

</style>