<template>
    <div>
        <div v-if="signedIn">
            <div class="form-group">
                <textarea name="body"
                          class="form-control"
                          rows="5"
                          required
                          placeholder="Do you like say some thing"
                          v-model="body">
                </textarea>
            </div>

            <input type="submit"
                   class="btn btn-success"
                   value="Submit"
                   @click="addReply">
        </div>

        <p class="text-center" v-else>
            <a href="/login">Sign in</a> for participate if Forum
        </p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                body: '',
            }
        },

        computed: {
            signedIn() {
                return window.App.signedIn
            }
        },

        methods: {
            addReply() {
                axios.post(location.pathname+'/replies', {body: this.body})
                    .then(({data}) => {
                        this.body = '';

                        flash('The reply has been posted!');

                        this.$emit('created', data);
                    });
            }
        }
    }
</script>