<template>
    <div :id="'reply-'+id" class="card mb-3">
        <div class="card-header">
            <a :href="'/profiles/'+data.owner.name" class="float-left"
               v-text="data.owner.name">
            </a> said <span v-text="ago"></span>...

            <span v-if="signedIn">
                <favorite :reply="data"></favorite>
            </span>
        </div>

        <div class="card-body">
            <div v-if="editing">
                <div class="form-group">
                    <textarea name="" class="form-control" v-model="body"></textarea>
                </div>

                <button class="btn btn-sm btn-primary" @click="update">Update</button>
                <button class="btn btn-sm btn-light" @click="editing = false">Cancel</button>

            </div>
            <div v-else v-text="body"></div>

        </div>

        <div class="card-footer flex" v-if="canUpdated">
            <button class="btn btn-sm btn-secondary ml-2" @click="editing = true">Edit</button>

            <button class="btn btn-sm btn-danger" @click="destroy">Delete</button>
        </div>
    </div>
</template>

<script>
    import Favorite from './Favorite.vue';
    import moment from 'moment';

    export default {
        props: ['data'],

        components: {Favorite},

        data() {
            return {
                id: this.data.id,
                editing: false,
                deleted: false,
                body: this.data.body
            }
        },

        computed:{
            ago(){
                return moment(this.data.created_at).fromNow()+ '...';
            },
            signedIn(){
                return window.App.signedIn;
            },
            canUpdated(){
                return this.authorize(user => this.data.user_id ==user.id)

                // return this.data.user_id == window.App.user.id;
            }
        },

        methods: {
            update() {
                axios.patch('/replies/' + this.data.id, {
                    body: this.body
                });

                this.editing = false;

                flash('Updated!')
            },

            destroy() {
                axios.delete('/replies/' + this.data.id);

                this.$emit('deleted', this.data.id)
            }
        }
    }
</script>

<style scoped>

</style>