<template>
    <li class="nav-item dropdown" v-if="notifications">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Notifications
        </a>

        <ul class="dropdown-menu">
            <li class="dropdown-item" v-for="notification in notifications">
                <a  class="nav-link"
                    :href="notification.data.link"
                    v-text="notification.data.message"
                    @click="markAsRead(notification)"></a>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        data(){
            return {
                notifications:false
            }
        },

        created(){
            axios.get("/profiles/"+ window.App.user.name +"/notifications")
                .then( (response) =>{
                    console.log(response.data);
                });
        },

        methods:{
            markAsRead(notification){
                axios.delete("/profiles/"+window.App.user.name+"/notifications/"+notification.id)
                    .then()
            }
        }

    }
</script>